<br>
<br>
<div class="text-center fixed-top tracking-in-expand" id="timer" >You'll have 60 seconds to answer the questions once you click the Get Questions! button...<br>When time is up you'll be redirected to the profile page</div>
<br>
<br>
<div id="myQuestions" class="container text-center"></div>
<div class="text-center">
<button id="quest-btn" type="button" class="btn btn-warning ">Get Questions!</button>
<button id="back-btn" type="button" class="btn btn-warning ">Back To Profile </button>
</div>
<br>
<br>
<div hidden id="userid" data-userid="{{{user}}}">{{{user}}}</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/game.js"></script>