<h1>Game On</h1>
<div class="jumbotron jumbotron-fluid">
    <button id="quest-btn" type ="button" class="btn btn-warning">My Questions!</button>
    <div id="myQuestions" class="container"><div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/game.js"></script>