<div class="container">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      High Scores
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {{#each highScores}}
      <p class="dropdown-item">{{name}} - {{score}}</p>
      {{/each}}
    </div>
  </div>

    <h1>Game On</h1>

{{!-- Make button hide after generating questions! --}}
    <button id="startBtn" class="showQuestions">Bring it on!</button>
    <div id="questions"></div>
    <button id="nextBtn" class="showQuestions hide">Next Question, Please.</button>
</div>
<script src="/js/game.js"></script>
